/*==== common grid style ====*/
 
 *{
	 margin:0 auto;
	 box-sizing:border-box;
	 font-family: 'Poppins', sans-serif;

 } 
 :root{
	 --primary-color:#00bcd4;
	 --secondary-color: #333333;
	 --bg-color: #f8feff;
	 ---white: #fff;
 }
.container{
	  width:1170px;
	  margin:0 auto;
	  padding:0 15px;
   }
   .row{
	   display:flex;
	   flex-wrap:wrap;
	   margin-right:-15px;
	   margin-left:-15px;
   }
   .row> *{
	   width: 100%;
	   padding:0px 15px;
   }
   .col-lg-1{
	   width:8.33%;
   }
    .col-lg-2{
	   width:16.66%;
   }
    .col-lg-3{
	   width:25%;
   }
    .col-lg-4{
	   width:33.33%;
   }
    .col-lg-5{
	   width:41.66%;
   }
    .col-lg-6{
	   width:50%;
   }
    .col-lg-7{
	   width:58.33%;
   }
    .col-lg-8{
	   width:66.66%;
   }
    .col-lg-9{
	   width:75%;
   }
    .col-lg-10{
	   width:83.33%;
   }
    .col-lg-11{
	   width:91.66%;
   }
    .col-lg-12{
	   width:100%;
   }
   .justify-content-start{
	   justify-content:flex-start !important;
   }
    .justify-content-end{
	   justify-content:flex-end !important;
   }
    .justify-content-between{
	   justify-content:space-between !important;
   }
    .justify-content-around{
	   justify-content:space-around !important;
   }
    .justify-content-evenly{
	   justify-content:space-evenly !important;
   }
   .align-items-start{
	   align-items:flex-start !important;
   }
    .align-items-end{
	   align-items:flex-end  !important;
   }
    .align-items-center{
	   align-items:center  !important;
   }
    .align-items-baseline{
	   align-items:baseline  !important;
   }
   /*====common style===*/
   .btn{
	  display: inline-block;
	  text-decoration:none;
	  color: white;
	  background-color:#00bcd4;
	  padding:14px 30px;
	  text-align:center;
	  font-size:16px;
   }
   .text-left{
	 text-align:left !important;
   }
   .text-center{
	 text-align:center !important;
   }
   .text-right{
	 text-align:right !important;
   }
   .text-justify{
	 text-align:justify !important;
   }
   
   /*====header style===*/
   .header-top{
	   background-color:#fff;
	   
   }
   .header-info{
	   background-color:#141313;
   }
   .contact-info span{
	  color: white;
	  font-size: 16px;
	  margin-right: 10px;
	  display:inline-block;
	  padding:10px 0;
   }
   .contact-info span > a{
	   color: white;
	   text-decoration:none;
   }
   .contact-info span i{
	 color: #00bcd4;
	 margin-right: 5px;
   }
   .contact-info span > a:hover{
	   color:#00bcd4;
   }
   .info-btn{
	   background-color:#00bcd4;
	   height:100%;
   }
    .nav-section{
	   padding:15px  0;
	   
   }
  
   h1.logo>a{
	 display: inline-block;
	 color: #635551;
	 font-size: 32px;
	 text-decoration:none;
	 font-weight:600;
	 font-family:"Open Sans", sans-serif
   }
   .manubar{
	display: flex; 
	justify-content: space-around;
   }
   a{
	   text-decoration:none;
	   color:#635551;
	   font-family:'Open Sans', sans-serif;
   }
  .navsection > a{
	  display:block;
	  color:#6335551;
	  font-size:14px;
	  padding: 8px 16px;
  }
  .nav-link a:hover{
	  color:#00bcd4;
  }
  li{
	  display:block;
  }
  .nav-link a.active{
	 color:#00bcd4;
  }
   /*=====banner style====*/
		.banner-section{
		 background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("img/layout.jpg") ;
		 padding:100px 0;
		 margin-bottom:-140px;
		 background-attachment: fixed ;
		 background-size:cover;
	     }
		 
		.banner-content h1{ 
		color:white;
		font-size: 48px;
		font-family:'Raleway',sans-serif;
		margin-bottom:15px;
		font-weight: 600;
		}
		.banner-content h2{
		color:#eee;
		font-size:25px;
		font-family:'Raleway',sans-serif;
		margin-bottom:40px;
		}
		.bnr-btn{ 
		position:relative;
		display:inline-block;
		padding:6px 0 6px 25px;
		}
		.bnr-btn a.btn{ 
		border-radius:25px;
		padding-left:32px;
		background-color:#584b48;
		transition: all 0.3s ease;
		}
		
		.bnr-btn a.btn:hover{
			background-color:#00bcd4;
		}
		.bnr-btn >i{ 
		position:absolute;
		top:3px;
		left:1px;
		background-color:#00bcd4;
		text-align:center;
		width:50px;
		height:50px;
		line-height:50px;
		border-radius:50%;
		box-shadow:1px 0 5px -2px black;
		color:white;
		}
	   .banner-content{
		   height:300px;
		  
	   }
   
   /*====why choose style===*/
   .why-choose-sect{
	   padding:20px 0px;
	   z-index: 3;
   }
   .why-choose{
	    background-color: #00bcd4;
		color: #fff;
		padding: 30px 20px;
        border-radius: 10px;
		position: relative;
		
   }
   .choose-items{
	    background-color: #fff;
		border-radius: 10px;
		padding: 40px 20px;
		box-shadow: 0 3px 10px #ccc;
		text-align: center;
		height: 100%;
   }
   .choose-items > i{
	   color: #00bcd4;
	   font-size: 35px;
   } 
   .choose-items > h1{
	   font-size: 20px;
	   margin-bottom: 35px;
	   margin-top: 35px;
	   font-weight: 700;
   }
   .choose-items > p{
	   color: #999;
	   line-height:20px;
   }
   .why-choose > h1{
    font-size: 32px;
	margin-bottom: 30px;
	text-align: left;
	font-family: 'Raleway',sans-serif;
	line-height: 38px;
	font-weight: 800;
	
   }
   .why-choose > a{
	   color: #fff;
	   display: inline-block;
	   text-decoration: none;
	   background-color: #4dc4d3;
	   border-radius: 25px;
	   padding: 9px 25px;
	   transform: translateX(90px);
	   
   }
   .why-choose > a >i{
	  margin-left: 8px; 
   }
   .why-choose > p{
	   margin-bottom: 30px;
	   text-align: left;
	   line-height:20px;
   }
   .why-choose > a:hover{
	  background:white;
	  color:#00bcd4;
   }
  /*=====about start====*/
  .abt-section{
	  padding:80px 0;
	  background-color: #f8feff;
  } 
  .abt-content{
	  padding: 40px 0px 40px 20px;
  }
  .abt-content > h5{
	  color:#999;
	  font-size: 18px;
	  margin-bottom: 30px;
  }
  .abt-content > h2{
	  font-size: 29px;
	  margin-bottom: 25px;
	  font-weight: 600;
	  color:#554945;
  }
  .abt-content > p{
	  line-height:25px;
  }
  .abt-list{
	  display: flex;
	  margin-top: 50px;
	  align-items: flex-start;
  }
  .abt-list > .abt-icons{
	  width: 70px;
	  height: 70px;
	  border-radius: 50%;
	  background-color: #fff;
	  border: solid 1px #00bcd4;
	  color: #00bcd4;
	  text-align: center;
	  line-height: 70px;
	  font-size: 25px;
	  flex-shrink: 0;
	  flex-basis: auto;
  }
  .abt-list > .abt-icons:hover{
	  background-color: #00bcd4;
	  color: #fff;
  }
  .abt-list > .abt-text{
	  padding-left: 20px;
  }
  .abt-text > h2{
	  margin-bottom:15px;
	  color:#554945;
	  font-size: 20px;
	  font-weight:bold;
  }
  .abt-text > p{
	  line-height:20px;
  }
  .abt-img{
	  display: flex;
	  height: 100%;
	  background-image: url('about.jpg');
	  background-size: cover;
	  background-position: center;
	  justify-content: center;
	  align-items: center;
  }
  .abt-img > i{
	background-color:#21c9c9eb;
	border-radius: 50%;
	font-size: 30px;
	color: #fff;
	height: 70px;
	text-align: center;
	width: 70px;
	line-height: 70px;
  }
  .abt-text > h2:hover{
	  color:#00bcd4;  
  }
  .abt-list:hover .abt-icons{
	  background-color:#00bcd4;
	  color:#fff;
  }
  /*===customer===*/
  .customer{
	  background-color:#fff;
	  padding: 60px 0;
  }
  .client-sec{
	padding: 10px 30px;
  }
  .client-sec > img{
	  width: 100%;
	  height: auto;
	  filter: grayscale(100%);
	  opacity: 0.5;
  }
  .client-sec:hover  img{
	  filter: grayscale(0%);
	  opacity: 1;
  }
  .circle{
	 text-align: center;
	 padding: 20px 0;
  }
  .circle span{
	  display: inline-block;
	  width: 12px;
	  height: 12px;
	  border:  1px solid #00bcd4;
	  background-color: #fff;
	  opacity: 0.8;
	  border-radius: 50%;
	  margin: 0 3px;
	  cursor: pointer;
  }
  .circle span:hover{
	  background-color: #00bcd4;
  }
  .circle span.active{
	   background-color: #00bcd4;
  }
  /*===service start===*/
	.sec{
		text-align:center;

	}
	.sec h2{
		margin: 20px;
		font-size: 30px;
		color:#555;
		line-height: 50px;
		font-weight: 600;
	}
	.sec p{
		font-size: 16px;
		line-height: 25px;
		color: #333333;
	}
	.selection-box{
		background-color: #f8feff ;
		padding: 15px 0 40px 0;
	}
	.text-content{
		padding: 20px;
	}
	.service-items{
		position: relative;
		text-align: center;
		padding: 25px 40px;
		margin-top: 40px;
		min-height: 210px;
		background-color:#fff;
		box-shadow: 0 0 10px #ccc;
	}
	.service-icon{
		position: absolute;
		top: -30px;
		left: 50%;   
		height: 60px;
		width: 60px;
		font-size: 25px;
		line-height:60px;
		color: #fff;
		transform: translatex(-50%);
		z-index: 1;
	}
	.service-icon:after{
		content:"";
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width: 100%;
		border: 1px solid ;
		border-radius: 50%;
		background-color: var(--primary-color);
		z-index: -1;
		transform: all .2s ease;
		transition-duration: 1s;
	}
	.service-items h3 a{
		display: inline-block;
		text-decoration: none;
		font-size: 19px;
		font-weight:bold;
		margin: 20px;
		color:#000;
	}
	.service-items:hover .service-icon:after{
		transform: scale(1.2);
		background-color: #fff;
	}
	.service-items:hover .service-icon, 
	.service-items:hover h3 a{
		color: var(--primary-color);
	}
	.service-items p{
		font-size: 15px;
		line-height:20px;
	}
  /*===service end===*/
  
  /*===background start ===*/
  .big{
	  background-color:#fff;
	  margin-bottom: 60px;
	  margin-top: 60px;
	   }
	 .pic1{
		 background-image: url('img/values-1.jpg');
	 }
  .pic2{
	  background-image: url('img/values-2.jpg');
  }
  .pic3{
	  background-image: url('img/values-3.jpg');
  }
  .pic4{
	  background-image: url('img/values-4.jpg');
  }
  .box{
	  background-color: white;
    padding: 20px 20px;
    padding-top: 170px;
    border-radius: 4px;
    margin-bottom: 33px;
  }
  .small{
	  background-color: #ffffffe3;
	  padding: 20px 30px;
	  border-radius: 10px;
  }
  .small >h4{
	  text-align: center;
	  font-weight:bold;
	  color:black;
	  font-size:20px;
  }
  .small >a{
	  font-size:12px;
	  font-weight: 600;
	  color:black;
  }
  .small >p{
	  line-height:20px;
  }
	  .big .box:hover .small{
	  background:var(--primary-color);
	  color:white;
	}
	 .big .box:hover .small >h4>a,.big .box:hover .small >a{
		color: white; 
	 }
	
  /*====background end===*/
  
  /*===swiping start===*/
  .swipe{
	  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url('img/values-5.jpg');
	  background-size: cover;
	  background-position: center;
	  text-align: center;
	  font-size: 20px;
	  color: white;
	  font-family:sans-serif;
	  padding: 80px;
  }
   .content2 > img{
	 border-radius:50%;
     box-shadow:2px 2px 2px 15px #8080804d; 
  }
  .content2 > h1{
	  margin-top:10px;
	  font-size:25px;
	  font-weight:bold;
	  margin-bottom:10px;
  }
   .content2 > h6{
	  font-size:15px;
	  margin-bottom:20px;
  }
  .content2 > p{
	  line-height:30px;
  }
  
   
   /*===swiping end===*/
   
   /*===images start===*/
   .adds{
		 font-family: "Open Sans", sans-serif;
   }
   .content3{
	  margin:40px 0;
	  text-align:center;
	  line-height:80px;
   }
   .content3 h1{
	   color:#5c4d4d;
	   font-size:30px;
	   font-weight:bold;
   }
   .content3 p{
	   color:#5c4d4d;
	   padding-top:20px;
	   font-size:17px;
	   line-height:37px;
   }
    .alls{
	  text-align: center;
  }
   .btn1 {
	   display: inline-block;
	   color: black;
	   padding:12px 20px;
	   font-size:14px;
	   border-radius:25px;
   }
   a{
	   text-decoration:none;
   }
   .btn1:hover{
	   background-color:#00bcd482;
   }
   .alls div.active{
	   background-color:#00bcd482;
   }
   .adding img{
	  margin-top:30px;
	  width:100%;
   } 
   .adding {
	   position:relative;
   }
   .adding:hover .mirror{
	   opacity:1;
   }
   .adding:hover .foliobox-icon{
	   opacity:1;
   }
   .foliobox-icon i:hover{
	    color: var(--primary-color);
		cursor:pointer;
   }
.mirror{
	position:absolute;
	opacity:0;
	bottom:10px;
	justify-content:space-between;
	width:90%;
	background-color:#ffffffbf;
	border:soild 2px red;
	padding-left:20px;
	margin:22px;

}
   .foliobox1 h2{
	   font-size:20px;
	    font-family:'Raleway ', sans-serif;
	   padding-top:15px;
	   line-height:30px;
	   
   }
   .foliobox1 p{
	   font-size:15px;
		font-family:'Raleway',sans-serif;
	   padding-bottom:15px;
   }
.foliobox-icon{
	position:absolute;
	line-height:30px;
	bottom:20px;
	opacity:0;
	width:90%;
	text-align:right;
}
	.foliobox-icon i{
		margin-left:5px;
	}
	
   /*===images end===*/
   
   /*===film start ===*/
   .film{
	    font-family: "Open Sans", sans-serif;
		 background-color:var(--bg-color);
		  padding-bottom:80px;
   }
   .content4{
	  margin-top:60px;
	    padding-top:40px;
	  
   }
    .content4 h1{
		color:#5c4d4d;
		 text-align:center;
		 font-size:35px;
		 font-weight:600;
		 font-family: "Open Sans", sans-serif;
	}
	.content4 p{
		padding-top:23px;
		 font-size:17px;
	  text-align:center;
	  line-height:30px;
	}
	.maker{
		position:relative;
	}
	.name-icon{
		opacity:0;
		font-size:20px;
		left:0;
		right:0;
		width:100%;
	    padding:10px 30px;
	    background-color:#ffffff8c;
	   bottom:100px;
	   position:absolute;
	  text-align:center;
	  
	}

	.maker:hover .name-icon{
		opacity:1;
	}
	  .name-icon i:hover {
		color: var(--primary-color);
		cursor:pointer;
	 }
  
    .maker img{
	   width:100%;
	   margin-top:30px;
   }
    .names{
		
	  padding:23px;
	  margin-top:-7px;
	  text-align:center;
	  background-color:#fff;
	  box-shadow:0 0 10px #ccc;
	  line-height:30px;
  }
   .names h1{
	    color:#5c4d4d;
	  text-align:center;
	  line-height:30px;
	   font-size:20px;
	    font-family: "Raleway", sans-serif;
		font-weight:600;
   }
   .names p{
	    color:#5c4d4d;
	   font-size:14px;
	  text-align:center;
   }
   /*===film end===*/
   
   /*===price start===*/
   .price{
	     background-color:white;
	   font-family: "Open Sans", sans-serif;
	   margin-bottom:30px;
   }
    .content5{
	  margin:40px 0;
	  text-align:center;
	  line-height:80px;
   }
   .content5 h1{
	   color:#5c4d4d;
	   font-size:35px;
	    font-weight:bold;
   }
   .content5 p{
	   color:#5c4d4d;
	   padding-top:20px;
	   
	   font-size:18px;
	    line-height:30px;
   }
   .money{
	  margin-top:20px;
	  background-color:white;
	  text-align:center;
	  line-height:50px;
	  border-radius:10px;
	  overflow:hidden;
	  box-shadow:0 0 5px #ccc;
   }
   .money sup{
	   color:var(--primary-color);
	  vertical-align:15px;
       font-size:20px;	
		font-weight:700;	   
   }
   .money h2 span{
	   color:var(--primary-color);
	   font-size:40px;
	   font-weight:700;
   }
   .money h2{
	    color:#5c4d4d47;
		font-size:20px;
   }
   .money p{
	   color:#5c4d4d;
	   line-height:30px;
   }
   
   .money h3{
	   font-size:20px;
	   background-color:#cccccc2e;
	   padding:10px;
   }
   .money .business h3{
	    background-color:#4dc4d3;
		color:white;
   }
   .money p del{
	   color:#5c4d4d47;
	   font-weight:600;
   }
    .price-btn{
		 background-color:#cccccc2e;
		 padding:20px;
		 font-size:15px;
	}
   .price-btn a{
	  color:#fff;
	  text-decoration:none;
	  background-color:#4dc4d3;
	  border-radius:7px;
	  padding:8px 25px;
	  font-family: "Raleway", sans-serif;
   }
   .price-btn a:hover{
	   background-color: var(--primary-color);
   }
   .buy-order h3{
	   text-align:center;
	   font-size:14px;
	    background-color: var(--primary-color);
		line-height:16px;
	   overflow:hidden;
	    margin:0 auto;
       transform:translate(96px, -50px)rotate(45deg);
	   color:white;
   }
   .buy-order{
	   height:0px;
   }
   /*===price end===*/
   
  /*===para start===*/
  .para{ 
   padding:50px;
   background-color:#bdd7d987;
  }
  .content6 h1{
	  text-align:center;
	  font-size:30px;
      line-height:80px;	
      color:#635551;
       font-weight:bold; 
  }
  .content6 p{
	  text-align:center;
	  font-size:15px;	  
	  line-height:30px;
  }
  .first{
   padding:20px;
   margin-top:20px;
   background-color:#fff;
  }
  .first i{
	  color:#00bcd4;
	  font-size:25px;
  }
  .first a{
	  text-decoration:none;
	  color:black;
	  display:flex;
  }
  .first:hover{
	  color:#00bcd4;
  }
  .first .tt{
	  float:right;
  }
  .first .tt i:hover{
	  color:#00bcd4;
  }
  .first .tt i{
	  color:black;
  }
   /*===para end===*/
 
   /*===contact start===*/
   .contact{
		 font-family: "Open Sans", sans-serif;
		 margin:30px 0;
   }
   .table{
	   padding:15px 150px;
   }
   .sec-title{
	   text-align:center;
   }
   .sec-title > h1{
	   font-size:30px;
	   margin-top:60px;
	   margin-bottom:20px;
	   color:#635551;
	   font-weight:bold;
   }
   .sec-title > p{
	   line-height:25px;
	   margin-bottom:20px;
	   font-size:19px;
   }
  
   .address{
	   position:relative;
	   padding:35px 30px;
      padding-left:90px;
	  box-shadow:0 0 20px #c6c6c6;
	  background:#fff;
	  
   }
	  .address >i{
		  position:absolute;
		  top:28px;
		  left:25px;
		  font-size:32px;
		  color:var(--primary-color);
		  border:dotted 2px var(--primary-color);
		  width:50px;
		  height:50px;
		  border-radius:50%;
		  text-align:center;
		  line-height:50px;
	  } 
	  .address h1{
		font-size:20px;
		color:#5c4d4d;
		font-weight:600;
	}
	  .address p{
		padding-top:10px;
		line-height:24px;
		font-size:14px;
	}
	    
   .form-content{
      margin-top:20px;
	  padding:20px;
	   background-color:#fff;
	  box-shadow:0 0 30px #ccc;
	  width:100%;
	  
   }
   
   .form input{
	   width:100%;
	  margin-bottom:20px;
	  padding:10px;
	  font-size:17px;
   }
    .form textarea{
		 width:100%;
		  padding:10px 10px;
	     font-size:17px;
	     margin-bottom:20px;
	}
   .form-btn{
	   text-align:center;
	   margin:10px 0;
   }
      .form-btn a{
	  color:#fff;
	  text-decoration:none;
	  background-color:#4dc4d3;
	  padding:15px 25px;
	  }
	  .form-btn a:hover{
		  background-color: var(--primary-color);
   }
   .form1:focus{
	   outline:0px;
	   border:solid 1px var(--primary-color);
   }
   /*===contact end===*/
   
   
   /*===footer start===*/
   
   .footer{
        background-color:#bdd7d987;
		padding:80px 0 ;
   }
   .base2 a{
	   color:black;
	   text-decoration:none;
   }
    .base1 a{
	   color:#5c4d4d;
	   text-decoration:none;
   }
   .base h1{
	   font-size:30px;
   }
   .base p{
      margin-top:10px;
	  font-size:15px;
	  line-height:20px;
	  color:#5c4d4d;
   }
   .base h2{
	   font-size: 16px;
       font-weight: bold;
   }
   .base h5{
	   margin-top:10px;
	   font-size:15px;
	   color:#5c4d4d;
   }
   .base1 h2{
	   font-size:17px;
	   font-weight: 600;
   }
   .base1 p{
	font-size: 14px;
    margin-top: 14px;
   }
   .base1 p:hover{
	   color:#00bcd4;
   }
   .base1 i{
	   padding:5px;
	   color:#00bcd4;
   }
   .base h4{
	   font-size:15px;
   }
   .base b{
	   font-weight:bold;
   }
	.out-side{
		border: 2px solid #00bcd4;
		border-radius: 25px;
		background: #fff;
		padding: 1px;
	}
	.sub{
		position: absolute;
		right: 106px;
		transform: translateY(-2px);
		border-radius: 25px;
		background-color: #00bcd4;
		text-align: center;
		font-size: 16px;
		color: #fff;
		height: 50px;
		border: 1px solid #00bcd4;
		line-height: 45px;
		padding: 0px 22px;
		cursor: pointer;
		text-align: center;
	}
	.form-controal1{
       position: relative;
		left: 2px;
		bottom: 0px;
		width: 90%;
		border: solid 1px #ccc;
		color: #999;
		font-size: 16px;
		padding: 9px 0px;
		margin: 2px;
		transform: trnsalateX(4);
		transform: translate(10px, 0px);
	}
	.subscribe>input{
		border:0;
	}
   .sub:focus{
	   border-color: #00bcd4;
   }
   /* =====footer end====*/
   
   /*===finish start===*/
   .finish{
	    background-color:white;
        padding:30px 0;
   }
   .finish-02{
	   background-color:white;
	    font-size:30px;
	    height:60px;
		padding-left:120px;
   }
   
   .finish-02 >i{
	   background:#00bcd4;
	   padding:5px;
	   color:white;
	   border-radius:60%;
   }
   .finish-01  p > a{
	   color:#00bcd4;
	      
   }
   .finish-01 > p {
	   
	 margin-top:10px;
	      
   }
    
   
   /*===finish end===*/
